<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section>
        <div>
          <h1><%= link_to t("activity.word"), words_path %></h1>
        </div>
        <div>
          <h1><%= link_to t("activity.lesson"), categories_path %></h1>
        </div>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "activity.activities_show" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "welcom" %></h1>
    <h2>
      <%= t "welcom1" %>
      <a href="http://www.railstutorial.org/"><%= t "ruby_on_rails" %></a><%= t "welcom2" %>
    </h2>
    <%= link_to t("staticpage.signup"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: t("rails_logo")),
    "http://rubyonrails.org/images/rails.png" %>
<% end %>
