<h1><%= t("layout.logo") %></h1>

<p><%= t("mailer.hi") %> <%= @user.name %>,</p>

<p><%= t("mailer.accountactivate") %></p>

<%= link_to t("mailer.activate"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
