<h3><%= infor_lesson @lesson %></h3>
<table class="table tabel-triped">
  <tr>
    <th>#</th>
    <th><%= "Words" %></th>
    <th><%= "Answer" %></th>
    <th><%= "check" %></th>
  </tr>
    <%= render @results %>
</table>
