<h1><%= t "lesson.lesson" %></h1>
<%= form_for @lesson do |f| %>
  <%= f.fields_for :results do |builder| %>
    <%= render "results_field", f: builder %>
  <% end %>
  <p><h3><%= f.submit :submit %></h3></p>
<% end %>
